body{
  font-family: Calibri;
  background-color: #FFFFFF;
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main{
  display:flex;
  padding:40px;
  height: 100vh;
}

.left{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align:center;
  height: auto;
  padding-top: -200px;
}

.left h1{
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 8px;
  word-spacing: 12px;
  background:linear-gradient(to right, #235789, #F1D302);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.left p{
  font-size: 20px;
  line-height: 1.6;
  color: 	#224C98;
  word-spacing: 6px;
  margin-bottom: 100px;
}

.left .Toffee{
  object-fit: cover;
  align-items: flex-start;
  margin-top: -340px;
  gap: 10px;
}

.logo{
  display:flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.logo img{
  width:200px;
  height:200px;
  border-radius: 50%;
  object-fit: cover;
}

.logo span{
  font-size: 70px;
  font-weight: bold;
  background:linear-gradient(to right, #235789, #F1D302);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  align-items: center;
}

.links{
  text-decoration:none;
  align-items: flex-end;
  font-size: 30px;
  padding: 8px 16px;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-right: 20px;
  background: linear-gradient(to right, #235789, #F1D302);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  word-spacing: 30px;
}

.right{
  display:flex;
  flex-direction:column
  gap: 15px;
}

.right h2{
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to right, #235789, #F1D302);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  gap: 15px;
  text-align: left;
}

.right h3{
  font-weight: bold;
  color: #224C98;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.right img{
  width:100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  border: 25px solid;
  border-image-slice: 1;
  border-image-source:linear-gradient(to right, #235789, #F1D302);
}

.right p{
  letter-spacing: 2px;
  color: #224C98;
}

.tool-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.card{
  background: linear-gradient(to right, #02386E, #235789, #39AAAA, #538D87, #F1D302);
  border-radius: 20px;
  padding: 30px 20px;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon svg{
  width:70px;
  height: 70px;
  display: block;
  margin: auto;
}

.team-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding:50px;
  max-width:1100px;
  margin: 0 auto;
  text-align:center;
}

.photo-container img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom:15px;
}

.member card{
  text-align:center;
  background:none;
  background: transparent;
  padding: 20px;

}
